{{- /*
Copyright Broadcom, Inc. All Rights Reserved.
SPDX-License-Identifier: APACHE-2.0
*/}}

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "common.names.fullname" . }}-cm-custom
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: grafana
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
data:
{{- /* https://github.com/grafana-community/helm-charts/blob/grafana-11.0.1/charts/grafana/templates/_config.tpl */}}
  grafana.ini: |
{{- range $node, $config := .Values.grafana.configFiles.custom }}
{{- if not (kindIs "map" $config) }}
    {{ $node }} = {{ $config }}
{{- end }}
{{- end }}
{{- range $node, $config := .Values.grafana.configFiles.grafana }}
{{- if kindIs "map" $config }}
    [{{ $node }}]
    {{- range $key, $value := $config }}
    {{- if kindIs "invalid" $value }}
    {{ $key }} =
    {{- else if kindIs "slice" $value }}
    {{- with $value }}
    {{ $key }} = {{ join "," . }}
    {{- end -}}
    {{- else if kindIs "string" $value }}
    {{ $key }} = {{ tpl $value $ }}
    {{- else }}
    {{ $key }} = {{ $value }}
    {{- end }}
    {{- end }}
{{- end }}
{{- end }}

{{- if .Values.grafana.configFiles.dataSource }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "common.names.fullname" . }}-cm-datasource
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: grafana
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
data:
  {{- range $key, $value := .Values.grafana.configFiles.dataSource }}
  {{ $key }}: |
    {{- toYaml $value | nindent 4 }}
  {{- end -}}
{{- end -}}


{{- if .Values.grafana.configFiles.ldap }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "common.names.fullname" . }}-cm-ldap
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: grafana
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
data:
  ldap.toml: |
{{ toToml .Values.grafana.configFiles.ldap | b64enc | indent 4 }}
{{- end }}