## @section Global parameters
## Global Docker image parameters
## Please, note that this will override the image parameters, including dependencies, configured to use the global value
## Current available global Docker image parameters: imageRegistry, imagePullSecrets and storageClass
##

## @param global.imageRegistry Global Docker image registry
## @param global.imagePullSecrets Global Docker registry secret names as an array
## @param global.storageClass Global StorageClass for Persistent Volume(s)
##
global:
  imageRegistry: ""
  ## E.g.
  ## imagePullSecrets:
  ##   - myRegistryKeySecretName
  ##
  imagePullSecrets: []
  storageClass: ""

## @section Common parameters
##
## @param nameOverride String to partially override common.names.name
##
nameOverride: ""
## @param fullnameOverride String to fully override common.names.fullname
##
fullnameOverride: ""
## @param commonLabels Labels to add to all deployed objects
##
commonLabels: {}
## @param commonAnnotations Annotations to add to all deployed objects
##
commonAnnotations: {}

## @section dufs Parameters
##

## %%MAIN_CONTAINER/POD_DESCRIPTION%%
##
dufs:
  ## Autoscaling configuration
  ## ref: https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/
  ## @param dufs.autoscaling.enabled Enable autoscaling for dufs
  ## @param dufs.autoscaling.minReplicas Minimum number of dufs replicas
  ## @param dufs.autoscaling.maxReplicas Maximum number of dufs replicas
  ## @param dufs.autoscaling.targetCPU Target CPU utilization percentage
  ## @param dufs.autoscaling.targetMemory Target Memory utilization percentage
  ##
  autoscaling:
    enabled: false
    minReplicas: ""
    maxReplicas: ""
    targetCPU: ""
    targetMemory: ""
  ## @param dufs.dnsConfig  Allows users more control on the DNS settings for a Pod.
  ## Ref: https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-dns-config
  ## E.g.
  ## dnsConfig:
  ##   nameservers:
  ##     - 192.0.2.1 # this is an example
  ##   searches:
  ##     - ns1.svc.cluster-domain.example
  ##     - my.dns.search.suffix
  ##   options:
  ##     - name: ndots
  ##       value: "2"
  ##     - name: edns0
  dnsConfig: {}
  ## @param dufs.hostAliases dufs pods host aliases
  ## https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/
  ##
  hostAliases: []
  ## @param dufs.hostNetwork Specify if host network should be enabled for dufs pod
  ##
  hostNetwork: true
  ## @param dufs.podAnnotations Annotations for dufs pods
  ## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
  ##
  podAnnotations: {}
  ## @param dufs.podLabels Extra labels for dufs pods
  ## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
  ##
  podLabels: {}
  ## @param dufs.podRestartPolicy specify the pod restart policy if workloadKind set to Pod
  ## available options: Always, OnFailure, Never
  podRestartPolicy: Never
  ## Configure Pods Security Context
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod
  ## @param dufs.podSecurityContext.enabled Enabled dufs pods' Security Context
  ## @param dufs.podSecurityContext.fsGroup Set dufs pod's Security Context fsGroup
  ## note: podman kube play does not support fsGroup yet
  ##
  podSecurityContext:
    enabled: false
    # fsGroup: 1001
  ## @param dufs.replicaCount Number of dufs replicas to deploy if workloadKind set to deployment
  ##
  replicaCount: 1
  ## @param dufs.workloadKind specify the deploy kindï¼š Pod, or Deployment
  ##
  workloadKind: Pod
  ## @param dufs.initContainers Add additional init containers to the dufs pod(s)
  ## ref: https://kubernetes.io/docs/concepts/workloads/pods/init-containers/
  ## e.g:
  ## initContainers:
  ##  - name: your-image-name
  ##    image: your-image
  ##    imagePullPolicy: Always
  ##    command: ['sh', '-c', 'echo "hello world"']
  ##
  initContainers: []
  ## @param dufs.sidecars Add additional sidecar containers to the dufs pod(s)
  ## e.g:
  ## sidecars:
  ##   - name: your-image-name
  ##     image: your-image
  ##     imagePullPolicy: Always
  ##     ports:
  ##       - name: portname
  ##         containerPort: 1234
  ##
  sidecars: []
  ## dufs image
  ## ref: https://hub.docker.com/r/sigoden/dufs/tags
  ## @param dufs.image.registry dufs image registry
  ## @param dufs.image.repository dufs image repository
  ## @param dufs.image.tag dufs image tag (immutable tags are recommended)
  ## @param dufs.image.digest dufs image digest in the way sha256:aa.... Please note this parameter, if set, will override the tag image tag (immutable tags are recommended)
  ## @param dufs.image.pullPolicy dufs image pull policy
  ## @param dufs.image.pullSecrets dufs image pull secrets
  ##
  image:
    registry: docker.io
    repository: sigoden/dufs
    tag: v0.45.0
    digest: ""
    ## Specify a imagePullPolicy
    ## Defaults to 'Always' if image tag is 'latest', else set to 'IfNotPresent'
    ## ref: http://kubernetes.io/docs/user-guide/images/#pre-pulling-images
    ##
    pullPolicy: IfNotPresent
    ## Optionally specify an array of imagePullSecrets.
    ## Secrets must be manually created in the namespace.
    ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
    ## e.g:
    ## pullSecrets:
    ##   - myRegistryKeySecretName
    ##
    pullSecrets: []
  ## @param dufs.containerPorts dufs container port to expose to host
  ## e.g.
  ## containerPorts:
  ##   - name: http
  ##     containerPort: 80
  ##     hostPort: 80
  ##     hostIP: 192.168.255.10
  ##     protocol: TCP
  ##   - name: https
  ##     containerPort: 443
  ##     hostPort: 443
  ##     hostIP: 192.168.255.10
  ##     protocol: TCP
  ##
  containerPorts: {}
  ## Configure extra options for dufs containers' liveness and readiness probes
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#configure-probes
  ## @param dufs.livenessProbe.enabled Enable livenessProbe on dufs containers
  ## @param dufs.livenessProbe.initialDelaySeconds Initial delay seconds for livenessProbe
  ## @param dufs.livenessProbe.periodSeconds Period seconds for livenessProbe
  ## @param dufs.livenessProbe.timeoutSeconds Timeout seconds for livenessProbe
  ## @param dufs.livenessProbe.failureThreshold Failure threshold for livenessProbe
  ## @param dufs.livenessProbe.successThreshold Success threshold for livenessProbe
  ##
  livenessProbe:
    enabled: false
    initialDelaySeconds: foo
    periodSeconds: bar
    timeoutSeconds: foo
    failureThreshold: bar
    successThreshold: foo
  ## @param dufs.readinessProbe.enabled Enable readinessProbe on dufs containers
  ## @param dufs.readinessProbe.initialDelaySeconds Initial delay seconds for readinessProbe
  ## @param dufs.readinessProbe.periodSeconds Period seconds for readinessProbe
  ## @param dufs.readinessProbe.timeoutSeconds Timeout seconds for readinessProbe
  ## @param dufs.readinessProbe.failureThreshold Failure threshold for readinessProbe
  ## @param dufs.readinessProbe.successThreshold Success threshold for readinessProbe
  ## note: podman not support readinessProbe currently
  ##
  readinessProbe:
    enabled: false
    initialDelaySeconds: foo
    periodSeconds: bar
    timeoutSeconds: foo
    failureThreshold: bar
    successThreshold: foo
  ## @param dufs.startupProbe.enabled Enable startupProbe on dufs containers
  ## @param dufs.startupProbe.initialDelaySeconds Initial delay seconds for startupProbe
  ## @param dufs.startupProbe.periodSeconds Period seconds for startupProbe
  ## @param dufs.startupProbe.timeoutSeconds Timeout seconds for startupProbe
  ## @param dufs.startupProbe.failureThreshold Failure threshold for startupProbe
  ## @param dufs.startupProbe.successThreshold Success threshold for startupProbe
  ##
  startupProbe:
    enabled: false
    initialDelaySeconds: foo
    periodSeconds: bar
    timeoutSeconds: foo
    failureThreshold: bar
    successThreshold: foo
  ## @param dufs.customLivenessProbe Custom livenessProbe that overrides the default one
  ##
  customLivenessProbe: {}
  ## @param dufs.customReadinessProbe Custom readinessProbe that overrides the default one
  ##
  customReadinessProbe: {}
  ## @param dufs.customStartupProbe Custom startupProbe that overrides the default one
  ##
  customStartupProbe: {}
  ## dufs resource requests and limits
  ## ref: http://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/
  ## @param dufs.resourcesPreset Set dufs container resources according to one common preset (allowed values: none, nano, small, medium, large, xlarge, 2xlarge). This is ignored if dufs.resources is set (dufs.resources is recommended for production).
  ## More information: https://github.com/bitnami/charts/blob/main/bitnami/common/templates/_resources.tpl#L15
  ##
  resourcesPreset: "nano"
  ## @param dufs.resources Set dufs container requests and limits for different resources like CPU or memory (essential for production workloads)
  ## Example:
  ## resources:
  ##   requests:
  ##     cpu: 2
  ##     memory: 512Mi
  ##   limits:
  ##     cpu: 3
  ##     memory: 1024Mi
  ##
  resources: {}
  ## Configure Container Security Context
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-container
  ## @param dufs.containerSecurityContext.enabled Enabled dufs containers' Security Context
  ## @param dufs.containerSecurityContext.runAsUser Set dufs containers' Security Context runAsUser
  ## @param dufs.containerSecurityContext.runAsNonRoot Set dufs containers' Security Context runAsNonRoot
  ## @param dufs.containerSecurityContext.readOnlyRootFilesystem Set dufs containers' Security Context runAsNonRoot
  ##
  containerSecurityContext:
    enabled: false
    runAsUser: 1001
    runAsNonRoot: true
    readOnlyRootFilesystem: false

  # %%OTHER_PARAMETERS_RELATED_TO_THIS_CONTAINER/POD%%
  ## @param dufs.config
  ## ref: https://github.com/sigoden/dufs?tab=readme-ov-file#configuration-file
  ##
  config:
    ## @param dufs.config.serve-path Specific path to serve [default: .]
    ##
    serve-path: /data
    ## @param dufs.config.bind Specify bind address or unix socket
    ##
    bind: 0.0.0.0
    ## @param dufs.config.port Specify port to listen on [default: 5000]
    ##
    port: 5000
    ## @param dufs.config.path-prefix Specify a path prefix
    ##
    path-prefix: /
    ## @param dufs.config.hidden Hide paths from directory listings, e.g. tmp,*.log,*.lock
    ##
    hidden:
      - tmp
      - "*.log"
      - "*.lock"
    ## @param dufs.config.auth Add auth roles, e.g. user:pass@/dir1:rw,/dir2
    ##
    auth:
      - admin:admin@/:rw
      - user:pass@/src:rw,/share
      - "@/" # According to the YAML spec, quoting is required.
    ## @param dufs.config.allow-all Allow all operations
    ##
    allow-all: false
    ## @param dufs.config.allow-upload Allow upload files/folders
    ##
    allow-upload: true
    ## @param dufs.config.allow-delete Allow delete files/folders
    ##
    allow-delete: true
    ## @param dufs.config.allow-search Allow search files/folders
    ##
    allow-search: true
    ## @param dufs.config.allow-symlink Allow symlink to files/folders outside root directory
    ##
    allow-symlink: true
    ## @param dufs.config.allow-archive Allow download folders as archive file
    ##
    allow-archive: true
    ## @param dufs.config.enable-cors Enable CORS, sets `Access-Control-Allow-Origin: *`
    ##
    enable-cors: true
    ## @param dufs.config.render-index Serve index.html when requesting a directory, returns 404 if not found index.html
    ##
    render-index: true
    ## @param dufs.config.render-try-index Serve index.html when requesting a directory, returns directory listing if not found index.html
    ##
    render-try-index: true
    ## @param dufs.config.render-spa Serve SPA(Single Page Application)
    ##
    render-spa: true
    ## @param dufs.config.assets Set the path to the assets directory for overriding the built-in assets
    ##
    # assets: ./assets/
    ## @param dufs.config.log-format Customize http log format
    ##
    log-format: '$remote_addr "$request" $status $http_user_agent'
    ## @param dufs.config.log-file Specify the file to save logs to, other than stdout/stderr
    ##
    log-file: ./dufs.log
    ## @param dufs.config.compress Set zip compress level [default: low] [possible values: none, low, medium, high]
    ##
    compress: low
    ## @param dufs.config.tls-cert Path to an SSL/TLS certificate to serve with HTTPS
    ##
    # tls-cert: /tls/cert.pem
    ## @param dufs.config.tls-key Path to the SSL/TLS certificate's private key
    ##
    # tls-key: /tls/key_pkcs1.pem

  ## @param dufs.secret secret pass to the container
  ##
  secret:
    ## @param dufs .secret.envVars secret content pass to container via environment variable
    ## e.g.
    ## envVars:
    ##   SECRET_KEY1: secret_value1
    ##   SECRET_KEY2: secret_value2
    ##
    envVars: {}
    ## @param dufs.tls secret setting of cert and key or whatever tls content will set in the container
    ##
    tls:
      ## @param dufs.tls.mountPath secret mount path setting of cert and key or whatever tls content will set in the container
      ##
      mountPath: /tls
      ## @param dufs.tls.contents secret content of cert and key or whatever tls content will set in the container
      ## You can set the content key as whatever file name you like
      ## But the tls set in configFiles above must match with the settings here
      ## key and certificate should start with -----BEGIN CERTIFICATE----- or -----BEGIN RSA PRIVATE KEY-----
      ## e.g.
      ## contents:
      ##  dufs-agent-ca.pem: ""
      ##  dc1-server-dufs-1.pem: ""
      ##  dc1-server-dufs-1-key.pem: ""
      ##
      contents: {}

  ## @param dufs.existingConfigmap The name of an existing ConfigMap with your custom configuration for dufs
  ##
  existingConfigmap:
  ## @param dufs.command Override default container command (useful when using custom images)
  ##
  command: []
  ## @param dufs.args Override default container args (useful when using custom images)
  ##
  args: []

  ## @param dufs.extraEnvVars Array with extra environment variables to add to dufs nodes
  ## e.g:
  ## extraEnvVars:
  ##   - name: FOO
  ##     value: "bar"
  ##
  extraEnvVars: []
  ## @param dufs.extraEnvVarsCM Name of existing ConfigMap containing extra env vars for dufs nodes
  ##
  extraEnvVarsCM: ""
  ## @param dufs.extraEnvVarsSecret Name of existing Secret containing extra env vars for dufs nodes
  ##
  extraEnvVarsSecret: ""
  ## @param dufs.extraVolumeMounts Optionally specify extra list of additional volumeMounts for the dufs container(s)
  ##
  extraVolumeMounts: []
  ## @param dufs.extraVolumes Optionally specify extra list of additional volumes for the dufs pod(s)
  ##
  extraVolumes: []

## @section Persistence Parameters
##

## Enable persistence using Persistent Volume Claims
## ref: https://kubernetes.io/docs/user-guide/persistent-volumes/
##
persistence:
  ## @param persistence.enabled Enable persistence using Persistent Volume Claims
  ##
  enabled: true
  ## @param persistence.mountPath Path to mount the volume at.
  ##
  mountPath: '{{ index .Values.dufs.config "serve-path" }}'
  ## @param persistence.subPath The subdirectory of the volume to mount to, useful in dev environments and one PV for multiple services
  ##
  subPath: ""
  ## @param persistence.storageClass Storage class of backing PVC
  ## If defined, storageClassName: <storageClass>
  ## If set to "-", storageClassName: "", which disables dynamic provisioning
  ## If undefined (the default) or set to null, no storageClassName spec is
  ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
  ##   GKE, AWS & OpenStack)
  ##
  storageClass: ""
  ## @param persistence.annotations Persistent Volume Claim annotations
  ##
  annotations: {}
  ## @param persistence.accessModes Persistent Volume Access Modes
  ##
  accessModes:
    - ReadWriteOnce
  ## @param persistence.size Size of data volume
  ##
  size: 8Gi
  ## @param persistence.existingClaim The name of an existing PVC to use for persistence
  ##
  existingClaim: ""
## @section Init Container Parameters
##

## 'volumePermissions' init container parameters
## Changes the owner and group of the persistent volume mount point to runAsUser:fsGroup values
##   based on the *podSecurityContext/*containerSecurityContext parameters
##
volumePermissions:
  ## @param volumePermissions.enabled Enable init container that changes the owner/group of the PV mount point to `runAsUser:fsGroup`
  ##
  enabled: false
  ## OS Shell + Utility image
  ## ref: https://hub.docker.com/r/bitnami/os-shell/tags/
  ## @param volumePermissions.image.registry OS Shell + Utility image registry
  ## @param volumePermissions.image.repository OS Shell + Utility image repository
  ## @param volumePermissions.image.tag OS Shell + Utility image tag (immutable tags are recommended)
  ## @param volumePermissions.image.pullPolicy OS Shell + Utility image pull policy
  ## @param volumePermissions.image.pullSecrets OS Shell + Utility image pull secrets
  ##
  image:
    registry: docker.io
    repository: bitnami/os-shell
    tag: 11-debian-11-r%%IMAGE_REVISION%%
    pullPolicy: IfNotPresent
    ## Optionally specify an array of imagePullSecrets.
    ## Secrets must be manually created in the namespace.
    ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
    ## e.g:
    ## pullSecrets:
    ##   - myRegistryKeySecretName
    ##
    pullSecrets: []
  ## Init container's resource requests and limits
  ## ref: http://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/
  ## @param volumePermissions.resourcesPreset Set init container resources according to one common preset (allowed values: none, nano, small, medium, large, xlarge, 2xlarge). This is ignored if volumePermissions.resources is set (volumePermissions.resources is recommended for production).
  ## More information: https://github.com/bitnami/charts/blob/main/bitnami/common/templates/_resources.tpl#L15
  ##
  resourcesPreset: "nano"
  ## @param volumePermissions.resources Set init container requests and limits for different resources like CPU or memory (essential for production workloads)
  ## Example:
  ## resources:
  ##   requests:
  ##     cpu: 2
  ##     memory: 512Mi
  ##   limits:
  ##     cpu: 3
  ##     memory: 1024Mi
  ##
  resources: {}
  ## Init container Container Security Context
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-container
  ## @param volumePermissions.containerSecurityContext.runAsUser Set init container's Security Context runAsUser
  ## NOTE: when runAsUser is set to special value "auto", init container will try to chown the
  ##   data folder to auto-determined user&group, using commands: `id -u`:`id -G | cut -d" " -f2`
  ##   "auto" is especially useful for OpenShift which has scc with dynamic user ids (and 0 is not allowed)
  ##
  containerSecurityContext:
    runAsUser: 0

## @section Other Parameters
##

## %%SUBCHART_CONTAINER/POD_DESCRIPTION%%
##
# %%SUBCHART_NAME%%:
SUBCHART_NAME:
  enabled: false
  # %%OTHER_PARAMETERS_RELATED_TO_THIS_SUBCHART%%
