## @section Global parameters
## Global Docker image parameters
## Please, note that this will override the image parameters, including dependencies, configured to use the global value
## Current available global Docker image parameters: imageRegistry, imagePullSecrets and storageClass
##

## @param global.imageRegistry Global Docker image registry
## @param global.imagePullSecrets Global Docker registry secret names as an array
## @param global.storageClass Global StorageClass for Persistent Volume(s)
##
global:
  imageRegistry: ""
  ## E.g.
  ## imagePullSecrets:
  ##   - myRegistryKeySecretName
  ##
  imagePullSecrets: []
  storageClass: ""

## @section Common parameters
##
## @param nameOverride String to partially override common.names.name
##
nameOverride: ""
## @param fullnameOverride String to fully override common.names.fullname
##
fullnameOverride: ""
## @param commonLabels Labels to add to all deployed objects
##
commonLabels: {}
## @param commonAnnotations Annotations to add to all deployed objects
##
commonAnnotations: {}

## @section zitadelLogin Parameters
##

## %%MAIN_CONTAINER/POD_DESCRIPTION%%
##
zitadelLogin:
  ## Autoscaling configuration
  ## ref: https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/
  ## @param zitadelLogin.autoscaling.enabled Enable autoscaling for zitadelLogin
  ## @param zitadelLogin.autoscaling.minReplicas Minimum number of zitadelLogin replicas
  ## @param zitadelLogin.autoscaling.maxReplicas Maximum number of zitadelLogin replicas
  ## @param zitadelLogin.autoscaling.targetCPU Target CPU utilization percentage
  ## @param zitadelLogin.autoscaling.targetMemory Target Memory utilization percentage
  ##
  autoscaling:
    enabled: false
    minReplicas: ""
    maxReplicas: ""
    targetCPU: ""
    targetMemory: ""
  ## @param zitadelLogin.dnsConfig  Allows users more control on the DNS settings for a Pod.
  ## Ref: https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-dns-config
  ## E.g.
  ## dnsConfig:
  ##   nameservers:
  ##     - 192.0.2.1 # this is an example
  ##   searches:
  ##     - ns1.svc.cluster-domain.example
  ##     - my.dns.search.suffix
  ##   options:
  ##     - name: ndots
  ##       value: "2"
  ##     - name: edns0
  dnsConfig: {}
  ## @param zitadelLogin.extraVolumes Optionally specify extra list of additional volumes for the zitadel-login pod(s)
  ##
  extraVolumes: []
  ## @param zitadelLogin.hostAliases zitadel-login pods host aliases
  ## https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/
  ##
  hostAliases: []
  ## @param zitadelLogin.hostNetwork Specify if host network should be enabled for zitadelLogin pod
  ##
  hostNetwork: true
  ## @param zitadelLogin.podAnnotations Annotations for zitadel-login pods
  ## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
  ## ref: https://docs.podman.io/en/latest/markdown/podman-kube-play.1.html#userns-mode
  ## ref: https://github.com/zitadel/zitadel/blob/v4.6.2/apps/login/Dockerfile#L3
  ##
  podAnnotations:
    io.podman.annotations.userns: keep-id:uid=1001,gid=1001
  ## @param zitadelLogin.podLabels Extra labels for zitadel-login pods
  ## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
  ##
  podLabels: {}
  ## @param zitadelLogin.podRestartPolicy specify the pod restart policy if workloadKind set to Pod
  ## available options: Always, OnFailure, Never
  podRestartPolicy: Never
  ## Configure Pods Security Context
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod
  ## @param zitadelLogin.podSecurityContext.enabled Enabled zitadel-login pods' Security Context
  ## @param zitadelLogin.podSecurityContext.fsGroup Set zitadel-login pod's Security Context fsGroup
  ## note: podman kube play does not support fsGroup yet
  ##
  podSecurityContext:
    enabled: false
    # fsGroup: 1001
  ## @param zitadelLogin.replicaCount Number of zitadel-login replicas to deploy if workloadKind set to deployment
  ##
  replicaCount: 1
  ## @param zitadelLogin.workloadKind specify the deploy kindï¼š Pod, or Deployment
  ##
  workloadKind: Pod
  ## @param zitadelLogin.initContainers Add additional init containers to the zitadel-login pod(s)
  ## ref: https://kubernetes.io/docs/concepts/workloads/pods/init-containers/
  ## e.g:
  ## initContainers:
  ##  - name: your-image-name
  ##    image: your-image
  ##    imagePullPolicy: Always
  ##    command: ['sh', '-c', 'echo "hello world"']
  ##
  initContainers:
    - name: wait-for-postgres
      image: wait4x/wait4x:3.6.0
      command:
        - wait4x
        - http
        - "{{ .Values.zitadelLogin.config.ZITADEL_API_URL }}/debug/ready"
        - --insecure-skip-tls-verify
        - --h2c
        - --no-redirect
        - --expect-status-code
        - "200"
        - --timeout
        - "5m"
        - --interval
        - "5s"
  ## @param zitadelLogin.sidecars Add additional sidecar containers to the zitadel-login pod(s)
  ## e.g:
  ## sidecars:
  ##   - name: your-image-name
  ##     image: your-image
  ##     imagePullPolicy: Always
  ##     ports:
  ##       - name: portname
  ##         containerPort: 1234
  ##
  sidecars: []
  ## Bitnami zitadelLogin image
  ## ref: https://hub.docker.com/r/bitnami/%%IMAGE_NAME%%/tags/
  ## @param zitadelLogin.image.registry zitadelLogin image registry
  ## @param zitadelLogin.image.repository zitadelLogin image repository
  ## @param zitadelLogin.image.tag zitadelLogin image tag (immutable tags are recommended)
  ## @param zitadelLogin.image.digest zitadelLogin image digest in the way sha256:aa.... Please note this parameter, if set, will override the tag image tag (immutable tags are recommended)
  ## @param zitadelLogin.image.pullPolicy zitadelLogin image pull policy
  ## @param zitadelLogin.image.pullSecrets zitadelLogin image pull secrets
  ##
  image:
    registry: github.io
    repository: zitadel/zitadel-login
    tag: v4.6.2
    digest: ""
    ## Specify a imagePullPolicy
    ## Defaults to 'Always' if image tag is 'latest', else set to 'IfNotPresent'
    ## ref: http://kubernetes.io/docs/user-guide/images/#pre-pulling-images
    ##
    pullPolicy: IfNotPresent
    ## Optionally specify an array of imagePullSecrets.
    ## Secrets must be manually created in the namespace.
    ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
    ## e.g:
    ## pullSecrets:
    ##   - myRegistryKeySecretName
    ##
    pullSecrets: []
  ## @param zitadelLogin.containerPorts zitadel-login container port to expose to host
  ## e.g.
  ## containerPorts:
  ##   - name: http
  ##     containerPort: 80
  ##     hostPort: 80
  ##     hostIP: 192.168.255.10
  ##     protocol: TCP
  ##   - name: https
  ##     containerPort: 443
  ##     hostPort: 443
  ##     hostIP: 192.168.255.10
  ##     protocol: TCP
  ##
  containerPorts: []
  ## Configure extra options for zitadel-login containers' liveness and readiness probes
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#configure-probes
  ## @param zitadelLogin.livenessProbe.enabled Enable livenessProbe on zitadel-login containers
  ## @param zitadelLogin.livenessProbe.initialDelaySeconds Initial delay seconds for livenessProbe
  ## @param zitadelLogin.livenessProbe.periodSeconds Period seconds for livenessProbe
  ## @param zitadelLogin.livenessProbe.timeoutSeconds Timeout seconds for livenessProbe
  ## @param zitadelLogin.livenessProbe.failureThreshold Failure threshold for livenessProbe
  ## @param zitadelLogin.livenessProbe.successThreshold Success threshold for livenessProbe
  ##
  livenessProbe:
    enabled: true
    initialDelaySeconds: 3
    periodSeconds: 600
    timeoutSeconds: 10
    failureThreshold: 5
    successThreshold: 1
    exec:
      command:
        - /bin/sh
        - -c
        - "wget -qO - http://{{ .Release.Name }}:3000/ui/v2/login/healthy"
  ## @param zitadelLogin.readinessProbe.enabled Enable readinessProbe on zitadel-login containers
  ## @param zitadelLogin.readinessProbe.initialDelaySeconds Initial delay seconds for readinessProbe
  ## @param zitadelLogin.readinessProbe.periodSeconds Period seconds for readinessProbe
  ## @param zitadelLogin.readinessProbe.timeoutSeconds Timeout seconds for readinessProbe
  ## @param zitadelLogin.readinessProbe.failureThreshold Failure threshold for readinessProbe
  ## @param zitadelLogin.readinessProbe.successThreshold Success threshold for readinessProbe
  ## note: podman not support readinessProbe currently
  ##
  readinessProbe:
    enabled: false
    initialDelaySeconds: foo
    periodSeconds: bar
    timeoutSeconds: foo
    failureThreshold: bar
    successThreshold: foo
  ## @param zitadelLogin.startupProbe.enabled Enable startupProbe on zitadel-login containers
  ## @param zitadelLogin.startupProbe.initialDelaySeconds Initial delay seconds for startupProbe
  ## @param zitadelLogin.startupProbe.periodSeconds Period seconds for startupProbe
  ## @param zitadelLogin.startupProbe.timeoutSeconds Timeout seconds for startupProbe
  ## @param zitadelLogin.startupProbe.failureThreshold Failure threshold for startupProbe
  ## @param zitadelLogin.startupProbe.successThreshold Success threshold for startupProbe
  ##
  startupProbe:
    enabled: false
    initialDelaySeconds: foo
    periodSeconds: bar
    timeoutSeconds: foo
    failureThreshold: bar
    successThreshold: foo
  ## @param zitadelLogin.customLivenessProbe Custom livenessProbe that overrides the default one
  ##
  customLivenessProbe: {}
  ## @param zitadelLogin.customReadinessProbe Custom readinessProbe that overrides the default one
  ##
  customReadinessProbe: {}
  ## @param zitadelLogin.customStartupProbe Custom startupProbe that overrides the default one
  ##
  customStartupProbe: {}
  ## zitadel-login resource requests and limits
  ## ref: http://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/
  ## @param zitadelLogin.resourcesPreset Set zitadel-login container resources according to one common preset (allowed values: none, nano, small, medium, large, xlarge, 2xlarge). This is ignored if zitadelLogin.resources is set (zitadelLogin.resources is recommended for production).
  ## More information: https://github.com/bitnami/charts/blob/main/bitnami/common/templates/_resources.tpl#L15
  ##
  resourcesPreset: "micro"
  ## @param zitadelLogin.resources Set zitadel-login container requests and limits for different resources like CPU or memory (essential for production workloads)
  ## Example:
  ## resources:
  ##   requests:
  ##     cpu: 2
  ##     memory: 512Mi
  ##   limits:
  ##     cpu: 3
  ##     memory: 1024Mi
  ##
  resources: {}
  ## Configure Container Security Context
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-container
  ## @param zitadelLogin.containerSecurityContext.enabled Enabled zitadel-login containers' Security Context
  ## @param zitadelLogin.containerSecurityContext.runAsUser Set zitadel-login containers' Security Context runAsUser
  ## @param zitadelLogin.containerSecurityContext.runAsNonRoot Set zitadel-login containers' Security Context runAsNonRoot
  ## @param zitadelLogin.containerSecurityContext.readOnlyRootFilesystem Set zitadel-login containers' Security Context runAsNonRoot
  ##
  containerSecurityContext:
    enabled: true
    runAsUser: 1001
    runAsNonRoot: true
    readOnlyRootFilesystem: false

  # %%OTHER_PARAMETERS_RELATED_TO_THIS_CONTAINER/POD%%
  ## ref: https://github.com/zitadel/zitadel-charts/blob/zitadel-9.12.3/charts/zitadel/templates/configmap_login.yaml
  ##
  config:
    CUSTOM_REQUEST_HEADERS: Host:{{ .Values.zitadel.configmapConfig.ExternalDomain }}
    # NODE_TLS_REJECT_UNAUTHORIZED: 0
    NEXT_PUBLIC_BASE_PATH: /ui/v2/login
    ZITADEL_API_URL: http://localhost:8080
    ZITADEL_SERVICE_USER_TOKEN_FILE: /login-client/pat

  ## @param zitadelLogin.secret secret pass to the container
  ##
  secret:
    ## @param zitadelLogin.secret.envVars secret content pass to container via environment variable
    ## e.g.
    ## envVars:
    ##   SECRET_KEY1: secret_value1
    ##   SECRET_KEY2: secret_value2
    ##
    envVars: {}
  ## @param zitadelLogin.existingConfigmap The name of an existing ConfigMap with your custom configuration for zitadel-login
  ##
  existingConfigmap:
  ## @param zitadelLogin.command Override default container command (useful when using custom images)
  ##
  command: []
  ## @param zitadelLogin.args Override default container args (useful when using custom images)
  ##
  args: []

  ## @param zitadelLogin.extraEnvVars Array with extra environment variables to add to zitadel-login nodes
  ## e.g:
  ## extraEnvVars:
  ##   - name: FOO
  ##     value: "bar"
  ##
  extraEnvVars: []
  ## @param zitadelLogin.extraEnvVarsCM Name of existing ConfigMap containing extra env vars for zitadel-login nodes
  ##
  extraEnvVarsCM: ""
  ## @param zitadelLogin.extraEnvVarsSecret Name of existing Secret containing extra env vars for zitadel-login nodes
  ##
  extraEnvVarsSecret: ""
  ## @param zitadelLogin.extraVolumeMounts Optionally specify extra list of additional volumeMounts for the zitadel-login container(s)
  ##
  extraVolumeMounts: []

## @section Persistence Parameters
##

## Enable persistence using Persistent Volume Claims
## ref: https://kubernetes.io/docs/user-guide/persistent-volumes/
##
persistence:
  ## @param persistence.enabled Enable persistence using Persistent Volume Claims
  ##
  enabled: false
  ## @param persistence.mountPath Path to mount the volume at.
  ##
  mountPath: /data
  ## @param persistence.subPath The subdirectory of the volume to mount to, useful in dev environments and one PV for multiple services
  ##
  subPath: ""
  ## @param persistence.storageClass Storage class of backing PVC
  ## If defined, storageClassName: <storageClass>
  ## If set to "-", storageClassName: "", which disables dynamic provisioning
  ## If undefined (the default) or set to null, no storageClassName spec is
  ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
  ##   GKE, AWS & OpenStack)
  ##
  storageClass: ""
  ## @param persistence.annotations Persistent Volume Claim annotations
  ##
  annotations: {}
  ## @param persistence.accessModes Persistent Volume Access Modes
  ##
  accessModes:
    - ReadWriteOnce
  ## @param persistence.size Size of data volume
  ##
  size: 8Gi
  ## @param persistence.existingClaim The name of an existing PVC to use for persistence
  ##
  existingClaim: ""
## @section Init Container Parameters
##

## 'volumePermissions' init container parameters
## Changes the owner and group of the persistent volume mount point to runAsUser:fsGroup values
##   based on the *podSecurityContext/*containerSecurityContext parameters
##
volumePermissions:
  ## @param volumePermissions.enabled Enable init container that changes the owner/group of the PV mount point to `runAsUser:fsGroup`
  ##
  enabled: false
  ## OS Shell + Utility image
  ## ref: https://hub.docker.com/r/bitnami/os-shell/tags/
  ## @param volumePermissions.image.registry OS Shell + Utility image registry
  ## @param volumePermissions.image.repository OS Shell + Utility image repository
  ## @param volumePermissions.image.tag OS Shell + Utility image tag (immutable tags are recommended)
  ## @param volumePermissions.image.pullPolicy OS Shell + Utility image pull policy
  ## @param volumePermissions.image.pullSecrets OS Shell + Utility image pull secrets
  ##
  image:
    registry: docker.io
    repository: bitnami/os-shell
    tag: 11-debian-11-r%%IMAGE_REVISION%%
    pullPolicy: IfNotPresent
    ## Optionally specify an array of imagePullSecrets.
    ## Secrets must be manually created in the namespace.
    ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
    ## e.g:
    ## pullSecrets:
    ##   - myRegistryKeySecretName
    ##
    pullSecrets: []
  ## Init container's resource requests and limits
  ## ref: http://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/
  ## @param volumePermissions.resourcesPreset Set init container resources according to one common preset (allowed values: none, nano, small, medium, large, xlarge, 2xlarge). This is ignored if volumePermissions.resources is set (volumePermissions.resources is recommended for production).
  ## More information: https://github.com/bitnami/charts/blob/main/bitnami/common/templates/_resources.tpl#L15
  ##
  resourcesPreset: "nano"
  ## @param volumePermissions.resources Set init container requests and limits for different resources like CPU or memory (essential for production workloads)
  ## Example:
  ## resources:
  ##   requests:
  ##     cpu: 2
  ##     memory: 512Mi
  ##   limits:
  ##     cpu: 3
  ##     memory: 1024Mi
  ##
  resources: {}
  ## Init container Container Security Context
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-container
  ## @param volumePermissions.containerSecurityContext.runAsUser Set init container's Security Context runAsUser
  ## NOTE: when runAsUser is set to special value "auto", init container will try to chown the
  ##   data folder to auto-determined user&group, using commands: `id -u`:`id -G | cut -d" " -f2`
  ##   "auto" is especially useful for OpenShift which has scc with dynamic user ids (and 0 is not allowed)
  ##
  containerSecurityContext:
    runAsUser: 0

## @section Other Parameters
##

## %%SUBCHART_CONTAINER/POD_DESCRIPTION%%
##
# %%SUBCHART_NAME%%:
SUBCHART_NAME:
  enabled: false
  # %%OTHER_PARAMETERS_RELATED_TO_THIS_SUBCHART%%
