{{- /*
Copyright Broadcom, Inc. All Rights Reserved.
SPDX-License-Identifier: APACHE-2.0
*/}}

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "common.names.fullname" . }}-cm
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: zitadel
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
data:
  zitadel-config.yaml: {{ print "|-" }}
    {{- include "common.tplvalues.render" (dict "value" .Values.zitadel.configFiles.config "context" $) | nindent 4 }}
  {{- if .Values.zitadel.configFiles.step }}
  zitadel-step.yaml: {{ print "|-" }}
    {{- include "common.tplvalues.render" (dict "value" .Values.zitadel.configFiles.step "context" $) | nindent 4 }}
  {{- end }}
