global:
  imageRegistry: zot.day0.sololab
consul:
  ## for traefik docker service discovery
  ##
  podLabels:
    traefik.enable: true
    traefik.tcp.routers.consul-web.entrypoints: webSecure
    traefik.tcp.routers.consul-web.rule: HostSNI(`consul.day0.sololab`)
    traefik.tcp.routers.consul-web.tls.passthrough: true
    traefik.tcp.routers.consul-web.service: consul-web
    traefik.tcp.services.consul-web.loadbalancer.server.port: 8501

  configFiles:
    main:
      auto_config:
        enabled: true
        server_addresses:
          - consul.day0.sololab
      bind_addr: '{{ GetInterfaceIP "eth0" }}'
      bootstrap_expect: null
      client_addr: "0.0.0.0"
      ports:
        https: 8501
      server: false
      tls:
        defaults:
          ca_file: /consul/secret/certs/ca.crt
          verify_incoming: false
          verify_outgoing: true
        internal_rpc:
          verify_server_hostname: true
  secret:
    # set tls cert
    tls:
      mountPath: /consul/secret/certs
      ## @param consul.secret.tls.contents secret content of cert and key or whatever tls content will set in the container
      ##
      contents:
        ca.crt: xxxx
    # pass token via secret mount
    others:
      mountPath: /consul/secret/others
      contents:
        acl_tokens.json:
          acl:
            tokens:
              default: e95b599e-166e-7d80-08ad-aee76e7ddf19

  ## @param consul.args add additional config-dir for file service registry
  ##
  args:
    - agent
    - -config-dir=/consul/services
    - -config-dir=/consul/secret/others

  extraEnvVars:
    - name: CONSUL_DISABLE_PERM_MGMT
      value: "ture"
    - name: TZ
      value: Asia/Shanghai
  ## @param consul.extraVolumeMounts Optionally specify extra list of additional volumeMounts for the consul container(s)
  ## ref: https://blog.christophersmart.com/2021/01/31/podman-volumes-and-selinux/
  ##
  extraVolumeMounts:
    - name: services
      mountPath: "/consul/services:Z"
  ## @param consul.extraVolumes Optionally specify extra list of additional volumes for the consul pod(s)
  ##
  extraVolumes:
    - name: services
      hostPath:
        path: /var/home/podmgr/consul-services
        type: Directory
