consul:
  podLabels:
    traefik.enable: true
    traefik.http.routers.consul.rule: "Host(`consul.infra.sololab`)"
    traefik.http.routers.consul.entryPoints: websecure
    traefik.http.routers.consul.tls.certresolver: internal
    traefik.http.services.consul.loadbalancer.server.port: 8500
  ## @param consul.configFiles config file to start consul, the sub config block will convert to json and injected as ConfigMap
  ## You can add whatever sub items under this block
  ## ref: https://developer.hashicorp.com/consul/docs/agent/config/config-files
  configFiles:
    main:
      bind_addr: "192.168.255.11"
      ## ref: https://github.com/hashicorp/learn-consul-docker/blob/v0.3/datacenter-deploy-auto-config/vault/consul/server1.json
      acl:
        enabled: true
        default_policy: deny
        enable_token_persistence: true

  secret:
    others:
      mountPath: /consul/secret/others
      contents:
        encrypt.json:
          encrypt: qDOPBEr+/oUVeOFQOnVypxwDaHzLrD+lvjo5vCEBbZ0=
        acl_tokens.json:
          acl:
            tokens:
              initial_management: e95b599e-166e-7d80-08ad-aee76e7ddf19
              agent: e95b599e-166e-7d80-08ad-aee76e7ddf19
              config_file_service_registration: e95b599e-166e-7d80-08ad-aee76e7ddf19

  ## @param consul.args add additional config-dir for file service registry
  ##
  args:
    - agent
    - -config-dir=/consul/services
    - -config-dir=/consul/secret/others
