{{- if .Values.zot.secret.envVars }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "common.names.fullname" . }}-sec-envVars
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: zot
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
type: Opaque
data:
  {{- range $key, $val := .Values.zot.secret.envVars }}
  {{ $key }}: {{ $val | b64enc | quote }}
  {{- end }}
{{- end }}

{{- if .Values.zot.secret.tls.contents }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "common.names.fullname" . }}-sec-tls
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: zot
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
type: Opaque
data:
  {{- if .Values.zot.secret.tls.contents -}}
  {{- range $key, $val := .Values.zot.secret.tls.contents }}
  {{ $key }}: {{ $val | b64enc | quote }}
  {{- end }}
  {{- end }}
{{- end }}


{{- if .Values.zot.secret.others.contents }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "common.names.fullname" . }}-sec-others
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: zot
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
type: Opaque
data:
  {{- range $key, $val := .Values.zot.secret.others.contents }}
  {{ $key }}: {{ print "|" }}
    {{- if eq ( kindOf $val ) "map" }}
    {{ $val | toJson | b64enc }}
    {{- else if eq ( kindOf $val ) "string" }}
    {{ $val | b64enc }}
    {{- else }}
    {{ $val | toString | b64enc }}
    {{- end }}
  {{- end }}
{{- end }}
