## @section Global parameters
## Global Docker image parameters
## Please, note that this will override the image parameters, including dependencies, configured to use the global value
## Current available global Docker image parameters: imageRegistry, imagePullSecrets and storageClass
##

## @param global.imageRegistry Global Docker image registry
## @param global.imagePullSecrets Global Docker registry secret names as an array
## @param global.storageClass Global StorageClass for Persistent Volume(s)
##
global:
  imageRegistry: ""
  ## E.g.
  ## imagePullSecrets:
  ##   - myRegistryKeySecretName
  ##
  imagePullSecrets: []
  storageClass: ""

## @section Common parameters
##
## @param nameOverride String to partially override common.names.name
##
nameOverride: ""
## @param fullnameOverride String to fully override common.names.fullname
##
fullnameOverride: ""
## @param commonLabels Labels to add to all deployed objects
##
commonLabels: {}
## @param commonAnnotations Annotations to add to all deployed objects
##
commonAnnotations: {}

## @section zot Parameters
##

## %%MAIN_CONTAINER/POD_DESCRIPTION%%
##
zot:
  ## Autoscaling configuration
  ## ref: https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/
  ## @param zot.autoscaling.enabled Enable autoscaling for zot
  ## @param zot.autoscaling.minReplicas Minimum number of zot replicas
  ## @param zot.autoscaling.maxReplicas Maximum number of zot replicas
  ## @param zot.autoscaling.targetCPU Target CPU utilization percentage
  ## @param zot.autoscaling.targetMemory Target Memory utilization percentage
  ##
  autoscaling:
    enabled: false
    minReplicas: ""
    maxReplicas: ""
    targetCPU: ""
    targetMemory: ""
  ## @param zot.dnsConfig  Allows users more control on the DNS settings for a Pod.
  ## Ref: https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-dns-config
  ## E.g.
  ## dnsConfig:
  ##   nameservers:
  ##     - 192.0.2.1 # this is an example
  ##   searches:
  ##     - ns1.svc.cluster-domain.example
  ##     - my.dns.search.suffix
  ##   options:
  ##     - name: ndots
  ##       value: "2"
  ##     - name: edns0
  dnsConfig: {}
  ## @param zot.hostAliases zot pods host aliases
  ## https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/
  ##
  hostAliases: []
  ## @param zot.hostNetwork Specify if host network should be enabled for zot pod
  ##
  hostNetwork: true
  ## @param zot.podAnnotations Annotations for zot pods
  ## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
  ##
  podAnnotations: {}
  ## @param zot.podLabels Extra labels for zot pods
  ## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
  ##
  podLabels: {}
  ## @param zot.podRestartPolicy specify the pod restart policy if workloadKind set to Pod
  ## available options: Always, OnFailure, Never
  podRestartPolicy: Never
  ## Configure Pods Security Context
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod
  ## @param zot.podSecurityContext.enabled Enabled zot pods' Security Context
  ## @param zot.podSecurityContext.fsGroup Set zot pod's Security Context fsGroup
  ## note: podman kube play does not support fsGroup yet
  ##
  podSecurityContext:
    enabled: false
    # fsGroup: 1001
  ## @param zot.replicaCount Number of zot replicas to deploy if workloadKind set to deployment
  ##
  replicaCount: 1
  ## @param zot.workloadKind specify the deploy kindï¼š Pod, or Deployment
  ##
  workloadKind: Pod
  ## @param zot.initContainers Add additional init containers to the zot pod(s)
  ## ref: https://kubernetes.io/docs/concepts/workloads/pods/init-containers/
  ## e.g:
  ## initContainers:
  ##  - name: your-image-name
  ##    image: your-image
  ##    imagePullPolicy: Always
  ##    command: ['sh', '-c', 'echo "hello world"']
  ##
  initContainers: []
  ## @param zot.sidecars Add additional sidecar containers to the zot pod(s)
  ## e.g:
  ## sidecars:
  ##   - name: your-image-name
  ##     image: your-image
  ##     imagePullPolicy: Always
  ##     ports:
  ##       - name: portname
  ##         containerPort: 1234
  ##
  sidecars: []
  ## zot image
  ## ref: https://github.com/project-zot/zot/pkgs/container/zot-linux-amd64
  ## @param zot.image.registry zot image registry
  ## @param zot.image.repository zot image repository
  ## @param zot.image.tag zot image tag (immutable tags are recommended)
  ## @param zot.image.digest zot image digest in the way sha256:aa.... Please note this parameter, if set, will override the tag image tag (immutable tags are recommended)
  ## @param zot.image.pullPolicy zot image pull policy
  ## @param zot.image.pullSecrets zot image pull secrets
  ##
  image:
    registry: ghcr.io
    repository: project-zot/zot-linux-amd64
    tag: v2.1.10
    digest: ""
    ## Specify a imagePullPolicy
    ## Defaults to 'Always' if image tag is 'latest', else set to 'IfNotPresent'
    ## ref: http://kubernetes.io/docs/user-guide/images/#pre-pulling-images
    ##
    pullPolicy: IfNotPresent
    ## Optionally specify an array of imagePullSecrets.
    ## Secrets must be manually created in the namespace.
    ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
    ## e.g:
    ## pullSecrets:
    ##   - myRegistryKeySecretName
    ##
    pullSecrets: []
  ## @param zot.containerPorts zot container port to expose to host
  ## e.g.
  ## containerPorts:
  ##   - name: http
  ##     containerPort: 5000
  ##     hostPort: 5000
  ##     protocol: TCP
  ##
  containerPorts: []
  ## Configure extra options for zot containers' liveness and readiness probes
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#configure-probes
  ## @param zot.livenessProbe.enabled Enable livenessProbe on zot containers
  ## @param zot.livenessProbe.initialDelaySeconds Initial delay seconds for livenessProbe
  ## @param zot.livenessProbe.periodSeconds Period seconds for livenessProbe
  ## @param zot.livenessProbe.timeoutSeconds Timeout seconds for livenessProbe
  ## @param zot.livenessProbe.failureThreshold Failure threshold for livenessProbe
  ## @param zot.livenessProbe.successThreshold Success threshold for livenessProbe
  ## zot have not provide health check endpoint currently https://github.com/project-zot/zot/issues/2487
  ##
  livenessProbe:
    enabled: false
    initialDelaySeconds: foo
    periodSeconds: bar
    timeoutSeconds: foo
    failureThreshold: bar
    successThreshold: foo
  ## @param zot.readinessProbe.enabled Enable readinessProbe on zot containers
  ## @param zot.readinessProbe.initialDelaySeconds Initial delay seconds for readinessProbe
  ## @param zot.readinessProbe.periodSeconds Period seconds for readinessProbe
  ## @param zot.readinessProbe.timeoutSeconds Timeout seconds for readinessProbe
  ## @param zot.readinessProbe.failureThreshold Failure threshold for readinessProbe
  ## @param zot.readinessProbe.successThreshold Success threshold for readinessProbe
  ## note: podman not support readinessProbe currently
  ##
  readinessProbe:
    enabled: false
    initialDelaySeconds: foo
    periodSeconds: bar
    timeoutSeconds: foo
    failureThreshold: bar
    successThreshold: foo
  ## @param zot.startupProbe.enabled Enable startupProbe on zot containers
  ## @param zot.startupProbe.initialDelaySeconds Initial delay seconds for startupProbe
  ## @param zot.startupProbe.periodSeconds Period seconds for startupProbe
  ## @param zot.startupProbe.timeoutSeconds Timeout seconds for startupProbe
  ## @param zot.startupProbe.failureThreshold Failure threshold for startupProbe
  ## @param zot.startupProbe.successThreshold Success threshold for startupProbe
  ##
  startupProbe:
    enabled: false
    initialDelaySeconds: foo
    periodSeconds: bar
    timeoutSeconds: foo
    failureThreshold: bar
    successThreshold: foo
  ## @param zot.customLivenessProbe Custom livenessProbe that overrides the default one
  ##
  customLivenessProbe: {}
  ## @param zot.customReadinessProbe Custom readinessProbe that overrides the default one
  ##
  customReadinessProbe: {}
  ## @param zot.customStartupProbe Custom startupProbe that overrides the default one
  ##
  customStartupProbe: {}
  ## zot resource requests and limits
  ## ref: http://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/
  ## @param zot.resourcesPreset Set zot container resources according to one common preset (allowed values: none, nano, small, medium, large, xlarge, 2xlarge). This is ignored if zot.resources is set (zot.resources is recommended for production).
  ## More information: https://github.com/bitnami/charts/blob/main/bitnami/common/templates/_resources.tpl#L15
  ##
  resourcesPreset: "nano"
  ## @param zot.resources Set zot container requests and limits for different resources like CPU or memory (essential for production workloads)
  ## Example:
  ## resources:
  ##   requests:
  ##     cpu: 2
  ##     memory: 512Mi
  ##   limits:
  ##     cpu: 3
  ##     memory: 1024Mi
  ##
  resources: {}
  ## Configure Container Security Context
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-container
  ## @param zot.containerSecurityContext.enabled Enabled zot containers' Security Context
  ## @param zot.containerSecurityContext.runAsUser Set zot containers' Security Context runAsUser
  ## @param zot.containerSecurityContext.runAsNonRoot Set zot containers' Security Context runAsNonRoot
  ## @param zot.containerSecurityContext.readOnlyRootFilesystem Set zot containers' Security Context runAsNonRoot
  ##
  containerSecurityContext:
    enabled: false
    runAsUser: 1001
    runAsNonRoot: true
    readOnlyRootFilesystem: false

  # %%OTHER_PARAMETERS_RELATED_TO_THIS_CONTAINER/POD%%

  ## @param zot.config config file for zot, content under this block will convert to json file place in /etc/zot/config.json
  ## you can set whatever content under this block, just follow the zot configuration guide
  ## ref: https://zotregistry.dev/v2.1.10/admin-guide/admin-configuration/
  ## ref: https://github.com/project-zot/zot/blob/v2.1.10/build/Dockerfile#L14-L26
  ##
  config:
    # https://zotregistry.dev/v2.1.10/articles/storage/#configuring-zot-storage
    storage:
      rootDirectory: /var/lib/registry
    # ref: https://zotregistry.dev/v2.1.10/admin-guide/admin-configuration/#network-configuration
    http:
      address: "0.0.0.0"
      port: "5000"
      compat:
        - docker2s2
    log:
      level: "debug"

  ## @param zot.secret secret will set in the container, setting for tls cert and key or whatever secrets
  ##
  secret:
    ## @param zot.secret.envVars secret content pass to container via environment variable
    ## e.g.
    ## envVars:
    ##   SECRET_KEY1: secret_value1
    ##   SECRET_KEY2: secret_value2
    ##
    envVars: {}
    ## @param zot.secret.tls tls cert and key secrets pass to the container via secret volume mount
    ## @param zot.secret.tls.mountPath tls secret volume mount path
    ## @param zot.secret.content secret content will set in the container
    ## You can set the content key as whatever file name you want
    ## But the tls set in configFiles above must match with the settings here
    ## key and certificate should start with -----BEGIN CERTIFICATE----- or -----BEGIN RSA PRIVATE KEY-----
    ## and also can set htpasswd and ldap bind dn credential secret here
    ## e.g.
    ## contents:
    ##   ca.crt: ""
    ##   tls.crt: ""
    ##   tls.key: ""
    ##
    tls:
      mountPath: /etc/zot/certs
      contents: {}
    ## @param zot.secret.others other secrets pass to the container via secret volume mount
    ##
    others:
      mountPath: /etc/zot/secret
      contents: {}
  ## @param zot.existingConfigmap The name of an existing ConfigMap with your custom configuration for zot
  ##
  existingConfigmap:
  ## @param zot.command Override default container command (useful when using custom images)
  ##
  command: []
  ## @param zot.args Override default container args (useful when using custom images)
  ##
  args: []

  ## @param zot.extraEnvVars Array with extra environment variables to add to zot nodes
  ## e.g:
  ## extraEnvVars:
  ##   - name: FOO
  ##     value: "bar"
  ##
  extraEnvVars: []
  ## @param zot.extraEnvVarsCM Name of existing ConfigMap containing extra env vars for zot nodes
  ##
  extraEnvVarsCM: ""
  ## @param zot.extraEnvVarsSecret Name of existing Secret containing extra env vars for zot nodes
  ##
  extraEnvVarsSecret: ""
  ## @param zot.extraVolumeMounts Optionally specify extra list of additional volumeMounts for the zot container(s)
  ##
  extraVolumeMounts: []
  ## @param zot.extraVolumes Optionally specify extra list of additional volumes for the zot pod(s)
  ##
  extraVolumes: []

## @section Persistence Parameters
##

## Enable persistence using Persistent Volume Claims
## ref: https://kubernetes.io/docs/user-guide/persistent-volumes/
##
persistence:
  ## @param persistence.enabled Enable persistence using Persistent Volume Claims
  ##
  enabled: true
  ## @param persistence.mountPath Path to mount the volume at.
  ##
  mountPath: /var/lib/registry
  ## @param persistence.subPath The subdirectory of the volume to mount to, useful in dev environments and one PV for multiple services
  ##
  subPath: ""
  ## @param persistence.storageClass Storage class of backing PVC
  ## If defined, storageClassName: <storageClass>
  ## If set to "-", storageClassName: "", which disables dynamic provisioning
  ## If undefined (the default) or set to null, no storageClassName spec is
  ##   set, choosing the default provisioner.  (gp2 on AWS, standard on
  ##   GKE, AWS & OpenStack)
  ##
  storageClass: ""
  ## @param persistence.annotations Persistent Volume Claim annotations
  ##
  annotations: {}
  ## @param persistence.accessModes Persistent Volume Access Modes
  ##
  accessModes:
    - ReadWriteOnce
  ## @param persistence.size Size of data volume
  ##
  size: 8Gi
  ## @param persistence.existingClaim The name of an existing PVC to use for persistence
  ##
  existingClaim: ""
## @section Init Container Parameters
##

## 'volumePermissions' init container parameters
## Changes the owner and group of the persistent volume mount point to runAsUser:fsGroup values
##   based on the *podSecurityContext/*containerSecurityContext parameters
##
volumePermissions:
  ## @param volumePermissions.enabled Enable init container that changes the owner/group of the PV mount point to `runAsUser:fsGroup`
  ##
  enabled: false
  ## OS Shell + Utility image
  ## ref: https://hub.docker.com/r/bitnami/os-shell/tags/
  ## @param volumePermissions.image.registry OS Shell + Utility image registry
  ## @param volumePermissions.image.repository OS Shell + Utility image repository
  ## @param volumePermissions.image.tag OS Shell + Utility image tag (immutable tags are recommended)
  ## @param volumePermissions.image.pullPolicy OS Shell + Utility image pull policy
  ## @param volumePermissions.image.pullSecrets OS Shell + Utility image pull secrets
  ##
  image:
    registry: docker.io
    repository: bitnami/os-shell
    tag: 11-debian-11-r%%IMAGE_REVISION%%
    pullPolicy: IfNotPresent
    ## Optionally specify an array of imagePullSecrets.
    ## Secrets must be manually created in the namespace.
    ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
    ## e.g:
    ## pullSecrets:
    ##   - myRegistryKeySecretName
    ##
    pullSecrets: []
  ## Init container's resource requests and limits
  ## ref: http://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/
  ## @param volumePermissions.resourcesPreset Set init container resources according to one common preset (allowed values: none, nano, small, medium, large, xlarge, 2xlarge). This is ignored if volumePermissions.resources is set (volumePermissions.resources is recommended for production).
  ## More information: https://github.com/bitnami/charts/blob/main/bitnami/common/templates/_resources.tpl#L15
  ##
  resourcesPreset: "nano"
  ## @param volumePermissions.resources Set init container requests and limits for different resources like CPU or memory (essential for production workloads)
  ## Example:
  ## resources:
  ##   requests:
  ##     cpu: 2
  ##     memory: 512Mi
  ##   limits:
  ##     cpu: 3
  ##     memory: 1024Mi
  ##
  resources: {}
  ## Init container Container Security Context
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-container
  ## @param volumePermissions.containerSecurityContext.runAsUser Set init container's Security Context runAsUser
  ## NOTE: when runAsUser is set to special value "auto", init container will try to chown the
  ##   data folder to auto-determined user&group, using commands: `id -u`:`id -G | cut -d" " -f2`
  ##   "auto" is especially useful for OpenShift which has scc with dynamic user ids (and 0 is not allowed)
  ##
  containerSecurityContext:
    runAsUser: 0

## @section Other Parameters
##

## %%SUBCHART_CONTAINER/POD_DESCRIPTION%%
##
# %%SUBCHART_NAME%%:
SUBCHART_NAME:
  enabled: false
  # %%OTHER_PARAMETERS_RELATED_TO_THIS_SUBCHART%%
