{{- /*
{{- define "minio.config.env" -}}
{{- range $key, $value :=  . }}
{{ $key }}={{ $value }}
{{- end }}
{{- end -}}

apiVersion: v1
kind: Secret
metadata:
  name: {{ template "common.names.fullname" . }}-sec-config
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/component: minio
    {{- if .Values.commonLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
type: Opaque
data:
  {{ base .Values.minio.config.MINIO_CONFIG_ENV_FILE }}: {{ include "minio.config.env" .Values.minio.config | b64enc }}
*/}}

{{- if .Values.minio.secret.envVars }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "common.names.fullname" . }}-sec-envVars
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/component: minio
    {{- if .Values.commonLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
type: Opaque
data:
  {{- range $key, $val := .Values.minio.secret.envVars }}
  {{ $key }}: {{ $val | b64enc | quote }}
  {{- end }}
{{- end }}

{{- if and .Values.minio.secret.tls.contents }}
{{- if and ( index .Values.minio.secret.tls.contents "public.crt" ) ( index .Values.minio.secret.tls.contents "private.key" ) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "common.names.fullname" . }}-sec-tls-default
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/component: minio
    {{- if .Values.commonLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
type: Opaque
data:
  public.crt: {{ index .Values.minio.secret.tls.contents "public.crt" | b64enc | quote }}
  private.key: {{ index .Values.minio.secret.tls.contents "private.key" | b64enc | quote }}
{{- end }}
{{- if .Values.minio.secret.tls.contents.additionalDomains }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "common.names.fullname" . }}-sec-tls-additional
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/component: minio
    {{- if .Values.commonLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
type: Opaque
data:
{{- range $additionalDomain := .Values.minio.secret.tls.contents.additionalDomains }}
  {{ $additionalDomain.name }}.public.crt: {{ index $additionalDomain "public.crt" | b64enc | quote }}
  {{ $additionalDomain.name }}.private.key: {{ index $additionalDomain "private.key" | b64enc | quote }}
{{- end }}
{{- end }}
{{- if .Values.minio.secret.tls.contents.CAs }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "common.names.fullname" . }}-sec-tls-ca
  labels: {{- include "common.labels.standard" . | nindent 4 }}
    app.kubernetes.io/component: minio
    {{- if .Values.commonLabels }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.commonLabels "context" $ ) | nindent 4 }}
    {{- end }}
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
type: Opaque
data:
{{- range $key, $val := .Values.minio.secret.tls.contents.CAs }}
  ca.{{ $key }}: {{ $val | b64enc }}
{{- end }}
{{- end }}

{{- end }}
