{{- /*
Copyright Broadcom, Inc. All Rights Reserved.
SPDX-License-Identifier: APACHE-2.0
*/}}

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "common.names.fullname" . }}-cm
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: vault
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
data:
{{- range $key, $val := .Values.vault.configFiles }}
  {{ $key }}.json: |-
{{ toJson $val | indent 4 }}
{{- end }}
{{- if .Values.vault.autoUnseal.enabled }}
  Unseal-Vault.sh: |
    #!/bin/sh

    function wait_started {
      until http_code=$(curl -s -k -o /dev/null -w "%{http_code}" "$VAULT_ADDR/v1/sys/health"); do sleep 5; done
      echo "Vault is started"
    }

    function is_inited {
      curl -s -k --request GET "$VAULT_ADDR/v1/sys/health" | jq -r .initialized
    }

    function init {
      # Initialize Vault
      printf "Initializing Vault...\n"
      VAULT_OPERATOR_SECRETS=$(curl -s -k -X POST \
        -H "Content-Type: application/json" \
        --data "{ \"secret_shares\": $SECRET_SHARES, \"secret_threshold\": $SECRET_THRESHOLD }" \
        "$VAULT_ADDR/v1/sys/init")
      # Export Vault operator keys (root_token and unseal keys)
      echo $VAULT_OPERATOR_SECRETS | jq . >$VAULT_OPERATOR_SECRETS_JSON_PATH
      printf "Vault initialized.\n"
    }
    
    function init_b64 {
      # Initialize Vault
      printf "Initializing Vault...\n"
      VAULT_OPERATOR_SECRETS=$(curl -s -k -X POST \
        -H "Content-Type: application/json" \
        --data "{ \"secret_shares\": $SECRET_SHARES, \"secret_threshold\": $SECRET_THRESHOLD }" \
        "$VAULT_ADDR/v1/sys/init")
      # Export Vault operator keys (root_token and unseal keys)
      echo $VAULT_OPERATOR_SECRETS | base64 >$VAULT_OPERATOR_SECRETS_JSON_PATH
      printf "Vault initialized.\n"
    }

    function is_sealed {
      curl -s -k --request GET "$VAULT_ADDR/v1/sys/health" | jq -r .sealed
    }

    function unseal {
      # Unseal Vault
      printf "Unsealing Vault...\n"
      VAULT_OPERATOR_SECRETS=$(cat $VAULT_OPERATOR_SECRETS_JSON_PATH)
      VAULT_UNSEAL_KEYS=$(echo $VAULT_OPERATOR_SECRETS | jq -r .keys[])
      for VAULT_UNSEAL_KEY in $VAULT_UNSEAL_KEYS; do
          # https://developer.hashicorp.com/vault/api-docs/system/unseal
          curl -s -k --request POST \
            --data "{ \"key\": \"$VAULT_UNSEAL_KEY\" }" \
            "$VAULT_ADDR/v1/sys/unseal"
      done
      printf "Unseal Done\n"
    }
    
    function unseal_b64 {
      # Unseal Vault
      printf "Unsealing Vault...\n"
      VAULT_UNSEAL_KEYS=$(base64 -d $VAULT_OPERATOR_SECRETS_JSON_PATH | jq -r .keys[])
      for VAULT_UNSEAL_KEY in $VAULT_UNSEAL_KEYS; do
          # https://developer.hashicorp.com/vault/api-docs/system/unseal
          curl -s -k --request POST \
            --data "{ \"key\": \"$VAULT_UNSEAL_KEY\" }" \
            "$VAULT_ADDR/v1/sys/unseal"
      done
      printf "Unseal Done\n"
    }

    wait_started

    echo "is_inited"
    is_inited

    # init
    if [[ $(is_inited) != "true" ]]; then
      init_b64
    else
      printf "Vault is already initialized.\n"
    fi

    sleep 5s 

    echo "is_sealed"
    is_sealed

    # unseal
    if [[ $(is_inited) == "true" && $(is_sealed) == "true" ]]; then
      if [[ -f "$VAULT_OPERATOR_SECRETS_JSON_PATH" && $(stat -c%s "$VAULT_OPERATOR_SECRETS_JSON_PATH") -gt 1 ]]; then
        unseal_b64
        exit 0
      else
        echo "no keys in file, please check"
        exit 1
      fi
    fi

    # sleep 600


{{- end }}