{{- /*
Copyright Broadcom, Inc. All Rights Reserved.
SPDX-License-Identifier: APACHE-2.0
*/}}

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "common.names.fullname" . }}-cm
  namespace: {{ include "common.names.namespace" . | quote }}
  labels: {{- include "common.labels.standard" ( dict "customLabels" .Values.commonLabels "context" $ ) | nindent 4 }}
    app.kubernetes.io/component: alloy
  {{- if .Values.commonAnnotations }}
  annotations: {{- include "common.tplvalues.render" ( dict "value" .Values.commonAnnotations "context" $ ) | nindent 4 }}
  {{- end }}
data:
  config.alloy: {{ print "|-" }}
    {{- range .Values.alloy.config.fromYAML }}
    {{ .component }} {{ if .label }}"{{ .label }}" {{ end -}} {{ print "{" }}
      {{- $indent := 6 }}
      {{- include "alloy.yamlToAlloyAttribute" (dict "attributes" .attributes "indent" $indent) }}
    {{ print "}" }}
    {{ end }}
    {{- if .Values.alloy.config.fromPlanText }}
    {{- include "common.tplvalues.render" ( dict "value" .Values.alloy.config.fromPlanText "context" $) | nindent 4 }}
    {{ end }}